{% extends 'base.html.twig' %}

{% block title %}Liste des régions{% endblock %}

{% block body %}

    <h1>Les régions</h1>

    <div class="row">
    {% for region in mesRegions %}

        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ region.nom }}</h5>
                    <p class="card-text">{{ region.code }}</p>
                </div>
            </div>
        </div>
    
    {% endfor %}
    </div>

{% endblock %}
